# Build outputs
/build/
/out/
/cmake-build-*/

# C++ / CMake binaries
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake
!/CMakeLists.txt
!/third_party/CMakeLists.txt
!/engine/CMakeLists.txt
!/app/CMakeLists.txt

# IDE & Editor files
.vs/
.vscode/
.idea/
*.user
*.suo

# Executables & Static Libraries
*.exe
*.dll
*.so
*.a
*.lib
